<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Sniglet:800&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/3a12e18fd4.js"
      crossorigin="anonymous"></script>
    <script src="jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <nav class='navbar sticky-top navbar-expand-lg navbar-light'>
      <p id="navrest"></p>

      <h1 class="justify-content-center">heyFood</h1>
     <ul class="justify-content-end">
      <form action="/logout" method="POST" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="_method" value="DELETE"/>
                  <button type="submit" class="signout"><i class="fas fa-sign-out-alt"></i></button>
      </form>
    </ul>

    </nav>

    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Sort by:</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Price (Descending)</a>
          <a class="dropdown-item" href="#">Price (Ascending)</a>
          <a class="dropdown-item" href="#">Rating (Descending)</a>
          <a class="dropdown-item" href="#">Rating (Ascending)</a>
          <a class="dropdown-item" href="#">Area (ABC)</a>
          <a class="dropdown-item" href="#">Cuisine (ABC)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Top 10</a>
        </div>
      </li>
      <button
        type="button"
        class="btn btn-primary float-right"
        data-toggle="modal"
        data-target=".modal">
        <i class="fas fa-plus"></i>Add restaurant</button>
    </ul>

    <!-- ADD NEW RESTAURANT MODAL -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new restaurant</h5>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <form action="/restaurants" method="POST" id="addrestaurant">
              <div class="form-group">
                <input
                  type="hidden"
                  value="0"
                  class="form-control exampleFormControlInput0"
                  name="idRestaurants"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Restaurant name</label>
                <input
                  type="text"
                  class="form-control exampleFormControlInput1"
                  placeholder="Type a name of a restaurant"
                  name="Name"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput2">Area</label>
                <input
                  type="text"
                  class="form-control exampleFormControlInput2"
                  placeholder="In what area is the restaurant located? E.g. Södermalm, Vasastan or Enskede"
                  name="Area"/>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput3">Cuisine</label>
                <input
                  type="text"
                  class="form-control exampleFormControlInput3"
                  placeholder="What type of food does the restaurant serve? E.g. Italian, Scandinavian or Indian"
                  name="Cuisine"/>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Price range</label>
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  placeholder="Select a price range that suits accordingly to the menu"
                  name="Price">
                  <option>$</option>
                  <option>$$</option>
                  <option>$$$</option>
                  <option>$$$$</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">
                Save restaurant
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD NEW RESTAURANT MODAL END -->

    <div class="main-container">
      <div class="card-deck">
        <!-- Card -->
        <% for(let i=0; i < rows.length; i++) { %>
        <div class="col mb-4">
          <div class="card" style="width: 18rem;">
            <div class="card booking-card">
              <!-- Card image -->
              <div class="view overlay">
                <img
                  class="card-img-top"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg"
                  alt="Card image cap"/>
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->

              <div class="card-body">
                <!-- Title -->
                <button
                  type="button"
                  class="btn btn-primary float-right"
                  data-toggle="modal"
                  data-target="#exampleModalCenter<%=[i]%>">
                  <i class="fas fa-edit"></i>
                </button>

                <h4 class="card-title font-weight-bold">
                  <a><%= rows[i].Name %></a>
                </h4>
                <!-- Data -->
                <ul class="list-unstyled list-inline rating mb-0">
                  <li class="list-inline-item mr-0">
                    <i class="fas fa-star amber-text"> </i>
                  </li>
                  <li class="list-inline-item mr-0">
                    <i class="fas fa-star amber-text"></i>
                  </li>
                  <li class="list-inline-item mr-0">
                    <i class="fas fa-star amber-text"></i>
                  </li>
                  <li class="list-inline-item mr-0">
                    <i class="fas fa-star amber-text"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fas fa-star-half-alt amber-text"></i>
                  </li>
                  <li class="list-inline-item">
                    <p class="text-muted avgrateing<%=[i]%>"></p>
                    <p class="text-muted noComments<%=[i]%>"></p>
                  </li>
                </ul>
                <p class="mb-2">Cuisine: <%= rows[i].Cuisine %></p>
                <p class="mb-2">Price: <%= rows[i].Price %></p>
                <p class="mb-2">Area: <%= rows[i].Area %></p>
                <!-- Text -->
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
                <hr class="my-4"/>

                <!-- Button -->
                <a
                  href="#"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target=".bd-example-modal-xl<%=[i]%>">Leave a review</a>
              </div>
            </div>
          </div>
        </div>

        <!-- 
     Card -->

        <!-- Extra large modal -->
        <!-- REVIEW -->
        <div
          class="modal fade bd-example-modal-xl<%=[i]%>"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myExtraLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <!-- COMMENT FORM  -->
              <form action="/reviews" method="POST" id="addreview<%=[i]%>">
                    <div class="form-group">
                      <input
                      type="hidden"
                      value="0"
                      class="form-control"
                      id="exampleFormControlInputidr<%=[i]%>"
                      name="idReviews"></input>
                    <input
                      type="hidden"
                      value="<%= rows[i].idRestaurants %>"
                      class="form-control"
                      id="exampleFormControlInputidre<%=[i]%>"
                      name="idRestaurants"></input>
                  </div>
                    <div class="form-group">

                  </div>
                <div class="form-group row">
                  <label for="inputname3" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputname<%=[i]%>" name="username"/>
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Rate the restaurant</legend>
                    <div class="col-sm-10">
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="Rateing"
                          id="Rateing1_<%=[i]%>"
                          value="1" required/>
                        <label class="form-check-label" for="inlineRadio1">1 star</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="Rateing"
                          id="Rateing2_<%=[i]%>"
                          value="2"/>
                        <label class="form-check-label" for="inlineRadio2">2 stars</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="Rateing"
                          id="Rateing3_<%=[i]%>"
                          value="3"/>
                        <label class="form-check-label" for="inlineRadio3">3 stars</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="Rateing"
                          id="Rateing4_<%=[i]%>"
                          value="4"/>
                        <label class="form-check-label" for="inlineRadio4">4 stars</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="Rateing"
                          id="Rateing5_<%=[i]%>"
                          value="5"/>
                        <label class="form-check-label" for="inlineRadio5">5 stars</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Leave a comment</label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1<%=[i]%>"
                    rows="3"
                    name="Comment"></textarea>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
              <!-- COMMENT FORM  -->

              <!-- COMMENT PANEL -->
              <div class="row bootstrap snippets">
                <div class="col-md-6 col-md-offset-2 col-sm-12">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        Reviews
                      </div>
                      <div class="panel-body">
                        <div class="clearfix"></div>
                        <hr/>
                        <ul class="media-list">

                          <li class="media<%=[i]%>">
                            <a href="#" class="pull-left">
                              <img
                                src=""
                                alt=""
                                class="img-circle"/>
                            </a>
                            <div class="media-body">
                              <strong class="text-success<%=[i]%>"></strong>
                              <h5 class="ratenumber<%=[i]%>"></h5>
                              <p class="comment<%=[i]%>"></p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COMMENT PANEL -->

        <!-- EDIT RESTAURANT MODAL -->

        <div
          class="modal fade"
          id="exampleModalCenter<%=[i]%>"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                  Edit restaurant
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form
                  action="/restaurants"
                  method="POST"
                  id="editrestaurant<%=[i]%>">
                  <input type="hidden" name="_method" value="put" />
                  <div class="form-group">
                    <input
                      type="hidden"
                      value="<%= rows[i].idRestaurants %>"
                      class="form-control"
                      id="exampleFormControlInput<%=[i]%>"
                      name="idRestaurants"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInputA">Restaurant name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInputA<%=[i]%>"
                      placeholder="Type a name of a restaurant"
                      name="Name"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInputB">Area</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInputB<%=[i]%>"
                      placeholder="In what area is the restaurant located? E.g. Södermalm, Vasastan or Enskede"
                      name="Area"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInputC">Cuisine</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInputC<%=[i]%>"
                      placeholder="What type of food does the restaurant serve? E.g. Italian, Scandinavian or Indian"
                      name="Cuisine"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelectD">Price range</label>
                    <select
                      class="form-control"
                      id="exampleFormControlSelectD<%=[i]%>"
                      placeholder="Select a price range that suits accordingly to the menu"
                      name="Price">
                      <option>$</option>
                      <option>$$</option>
                      <option>$$$</option>
                      <option>$$$$</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Save changes
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                <form
                  action="/restaurants/<%=rows[i].idRestaurants%>"
                  method="POST"
                  id="deleterestaurant<%=[i]%>"
                  enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="_method" value="DELETE"/>
                  <div class="form-group">
                    <input
                      type="hidden"
                      value="<%=rows[i].idRestaurants%>"
                      class="form-control"
                      id="exampleFormControlInputid<%=[i]%>"
                      name="idRestaurants"/>
                  </div>
                  <button type="submit" class="btn btn-danger">
                    Delete restaurant
                  </button>
                </form>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- EDIT RESTAURANT MODAL -->
        <% } %>

        <!-- RESTAURANT CARD END -->
      </div>
    </div>
  <script src="javascripts/callingapi.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
